
/*
	Header
 */
.header {
	height: 70px;
	position: sticky;
	top: 0;
	left: 0;
	background: silver;
	border-bottom: 1px solid blue;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	
	overflow-x: scroll;
}

.header::-webkit-scrollbar {
	width: 0em;
	height: 0em;
}

.header::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.header::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

/* page title/branch */
.header h1 {
	margin: 0 0 0 20px;
	height: 100%;

	display: flex;
	align-items: center;
}

/* menu */
.header ul {
	margin:  0 0 0 0;
	padding: 0;
	list-style: none;
	height: 100%;
	display: flex;
	align-items: center;
}

/* menu item */
.header li a {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
}

.header ul, .header li { height: 100% }

/* colors  */
.header {
	background-color: #00BCD4;
}
.header li a.active {
	background-color: #0097A7;
}

